requests
PyMuPDF
faiss-cpu
streamlit
sentence-transformers
numpy
pytz
boto3
tavily-python
streamlit-cookies-manager
streamlit-authenticator
matplotlib
plotly
pandas
python-docx
python-pptx
azure-storage-blob
openai
Pillow
opencv-python